*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    height: 100vh;
}

.container{
    text-align: center;
    width: 50%;
    border-radius: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    padding: 1rem;
    
}

.month{

    padding: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.5rem;


}
.day{

    color: red;
    font-size: 2rem;
    font-weight: bold;

}
.date{
    font-size: 5rem;
    font-weight: bold;

}
.year{
    font-size: 2rem;
    font-weight: bold;

}